@import '~assets/scss/_container';

.ty{
  &-label{
    background: color(special);
    padding: $radius;
    border-radius: $radius;
    color: color(white);
  }
  &__item{
    margin : $gutter auto !important;
  }

}
